#portfolio {
    height:calc(80vh - 4rem);
    width: 100vw;
    max-width: 50 rem;
    margin: 0 auto;
    font-size: 25px;
    align-content: center;
    text-align: center;


}

.projectList {
    height: 80vh;
    width: 100 vw;
    padding: 2rem;
    font-size: 25px;
    font-weight: 100;
    font-display: center;
    justify-content: space-between;
}

.project {
    color:black;
}


.project:hover {
    color: rgb(15, 14, 14);
    padding-bottom: 0.5 rem;
    border-bottom: 3px solid black;
    
    
}