.footer {
    height: 130px;
    width: 100%;
    max-width: 75rem;
    font-size: 15px;
    margin: 0 auto;
    padding: 1rem 2rem;
    text-align: center;
    display:flexbox;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(118, 82, 118);
}


.contactLink {
    color: whitesmoke;
}


.contactLink:hover {
    color: rgb(15, 14, 14);
    padding-bottom: 0.5 rem;
    border-bottom: 3px solid black;
    
    
}

